#chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(41, 31, 31, 0.1);
    display: none;
}

#chat-header {
    background-color: #419aff;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#chat-body {
  height: 230px;
  overflow-y: auto;
}

#chat-input {
    width: calc(100% - 0px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#chat-send {
    width: 100%;
    padding: 10px;
    background-color: #419aff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#chat-icon:hover {
    transform: scale(1.3);
    transition: 1s;
}